!!!
html
  head
    title= "Welcome to the log watcher"
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1= "Welcome to the log watcher"
    p(class='error')
    | There are no files available to watch
