!!!
html
  head
    title= "Welcome to the log watcher"
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1= "Welcome to the log watcher"
    - if (files.length)
      p Watchable files
      ul
        - each file in files
          li: a(href: file) #{file}
    - else
      p.error.
        there are no files available to watch
