!!!
html
  head
    title= "Welcome to the log watcher"
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1= "Welcome to the log watcher"
	// this is a dummy text
	// a list of available files would be good
	p(class='error')
	| There are no files available to watch
