!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='/javascripts/jquery-1.5.min.js')
    script(rel='text/javascript', src='/javascripts/jquery_url_parser.js')
    script(rel='text/javascript', src='/javascripts/watcher.js')
  body!= body
